.count-wrapper{
    
    background:rgb(240, 238, 238);
    box-shadow:
    inset 0 -3em 3em rgb(165, 159, 159);
    padding: 2em;
}


.count-container>.status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.count-container> .status> .stat{
    display: flex;
    flex-direction: column;
}

.count-container> .status> .stat> span{
    font-size: 20px;
   font-weight: bold;
}

.count-container> .status> .stat> span> .plus{
    color: #ff4400;
}

.count-container> .status> .stat> .statusName{
  color: rgb(88, 82, 82);
}