.r-wrapper{
   color: white;
   margin: 20px;
}

.r-container{
    background: black;
    padding: 2em;
}

.r-head{
    margin-bottom: 2em;
}
.r-head>span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30em;
    font-size: 23px;
    font-weight: bold;
}


.r-price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 0.2em;
}

.r-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.r-card>img{
    width: 100%;
    max-width: 25em;
 
}

.r-card>:nth-child(2){
    font-size: 1.5em;
    font-weight: 600;
}

.r-card>:nth-child(3){
    font-size: 1.5em;
  
}

.r-card>:nth-child(4){
   color: rgb(151, 137, 137);
    font-size: 1em;
    width: 15em;
  
    
}



